1_within_sample/m_brain/0_data/processed_data/
1_within_sample/m_brain/0_data/raw_data/e18_mouse_brain_fresh_5k_filtered_feature_bc_matrix.h5
1_within_sample/m_brain/1_XChrom/0_model_train/train_out/epoch_model/
1_within_sample/m_brain/1_XChrom/0_model_train/train_data/
1_within_sample/m_brain/1_XChrom/1_model_eval/eval_out/
1_within_sample/m_brain/2_scBasset/processed/
1_within_sample/m_brain/2_scBasset/eval_out/
1_within_sample/m_brain/3_Seurat/data/
1_within_sample/m_brain/3_Seurat/Results/
1_within_sample/m_brain/4_LS_Lab/Results/
1_within_sample/m_brain/5_MultiVI/Results/

2_cross_samples/s1d1_s2d1/0_preprocess/processed_data/
2_cross_samples/s1d1_s2d1/0_preprocess/raw_data/
2_cross_samples/s1d1_s2d1/0_preprocess/test_data/
2_cross_samples/s1d1_s2d1/1_XChrom/model_train/train_data/
2_cross_samples/s1d1_s2d1/1_XChrom/model_train/train_out/
2_cross_samples/s1d1_s2d1/1_XChrom/model_eval/eval_out/
2_cross_samples/s1d1_s2d1/2_Seurat/Results/
2_cross_samples/s1d1_s2d1/2_Seurat/data/
2_cross_samples/s1d1_s2d1/3_LS_Lab/Results/
2_cross_samples/s1d1_s2d1/4_MultiVI/Results/


3_cross_species/0_preprocess/data/
3_cross_species/0_preprocess/harmony_pca/
3_cross_species/0_preprocess/raw_data/
3_cross_species/0_preprocess/test_data/
3_cross_species/1_XChrom_train/human_m1d1n_train/train_data/
3_cross_species/1_XChrom_train/human_m1d1n_train/train_out/
3_cross_species/1_XChrom_train/mouse_mop3c2_train/train_data/
3_cross_species/1_XChrom_train/mouse_mop3c2_train/train_out/
3_cross_species/2_XChrom_eval/on_Mmodel/Results/
3_cross_species/3_ISM/peak0_ism.npy
3_cross_species/3_ISM/motif_pwms/motif_files/
3_cross_species/4_TFactivity/activity_out/
3_cross_species/4_TFactivity/motif_fasta/

4_covid19/0_preprocess/COVID19_MHH50/
4_covid19/0_preprocess/data/
4_covid19/0_preprocess/pbmc10k_/
4_covid19/1_XChrom_train_pbmc10k/train_data/
4_covid19/1_XChrom_train_pbmc10k/train_out/
4_covid19/2_TFactivity/activity_out/
4_covid19/2_TFactivity/motif_fasta/
4_covid19/3_mono/1_cMono/需要的数据就是mild_severe_all.h5ad和tf_activity的输出.txt
4_covid19/3_mono/2_R1R4/coviddata/

